

{% load static %}
<html>
    <head>
        <title>Password Change  </title>
            <link rel="stylesheet" href="{% static 'css/registration/register.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form action="" class="login-form" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" name="submit">CHANGE PASSWORD</button>
                    <center>
                        <p><a href="{% url 'studenthome' %}">CANCEL</a></p>
                    </center>
                </form>
            </div>
        </div>
       
    </body>
</html>
