table, th, td {
    border: 1px solid #9f68a9;
    border-collapse: collapse;
    padding: 6px;
    text-align:center;
}

.table-main-heading{
    background-color: #3993f0;
    border: 1.2px solid #1464b6;
    color: white;
    height: 30px;
}
.addcourse{
    margin-top: 20px;
    font-size: 15px;
}
.addcourse a{
    background-color: rgb(122, 233, 10);
    color: white;
    font-weight: 100;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 0.5px solid black;
}
.addcourse a:hover{
    background-color: rgb(6, 107, 107);
}

.edit:hover{
    color:rgb(21, 193, 50);
}

.delete:hover{
    color: red;
}